body {
    margin: 0;
    overflow: hidden;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: default;
    font-family: 'Arial', sans-serif;
}

canvas {
    display: block;
}